.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;

  .container {
    height: 100%;
  }

  &__list {
    @include grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $bigger_gap;
  }

  &__item {
    width: 100%;
    grid-column: span 3;
  }

  &__link {
    padding: $big_gap 0;
    display: block;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-align: center;

    &::after {
      content: '';
      width: 100%;
      bottom: 0;
      left: 0;
      height: 3px;
      position: absolute;
      background-color: $primary;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .2s ease-in-out;
    }

    &:focus-visible {
      text-decoration: none;
    }

    &:focus-visible::after {
      transform: scaleX(1);
    }
  }

  &__burger {
    display: none;
  }
}
