@import "normalize.css";
@import "fonts";
@import "var";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: black;

  &:focus-visible {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  background-color: white;
  color: black;
}

.container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.btn {
  padding: 0;
  cursor: pointer;
  background-color: white;
}

@keyframes blink {
  0% {
    transform: scaleY(0.5);
  }

  10% {
    transform: scaleY(1);
  }

  15% {
    transform: scaleY(0.5);
  }

  20% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes line {
  0% {
    transform: scaleX(0);
  }

  7% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes cursor {
  0% {
    background-color: black;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: black;
  }
}

@keyframes up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes right {
  0% {
    transform: translateX(20px);
  }

  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@import "any-hover";

@mixin grid {
  display: grid;
  gap: $bigger_gap;
}

@mixin flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  padding: 85px 0;

  &__wrapper {
    @include flex-column;
  }

  &__title {
    margin-bottom: $bigger_gap;
    font-size: 26px;
    font-weight: 700;
  }
}

@import 'header';
@import 'greeting';
@import 'info';
@import 'portfolio';
@import 'skills';
@import 'contacts';
@import 'footer';

@import 'media';
